@{
    ViewBag.Title = "Contact us";
}


<div class="row">
    <div class="col-sm-4">
        <h2 class="mt-4">@ViewBag.Title.</h2>
        <address>
            xxx xxxxx xxx<br />
            Miami, FL 33187<br />
            <strong>Phone:</strong> (305)-235-8899
        </address>

        <address>
            <strong>Email:</strong>   <a href="mailto:Support@example.com">Support@example.com</a>

        </address>
    </div>
  
</div>
