@{
    ViewBag.Title = "Home Page";
   
}

<script type="text/javascript">
   
    
</script>
<br>
<div class="row">

    <div class="col-md-3">
        <h3>Why choose EasyShip</h3>
        <p>Lorem impusm dolor sit amet dela bid sela</p>
    </div>
    <div class="col-md-3">
        <h3>About us</h3>
        <p>
            EasyShip, Inc. is a family owned company. Our family has been servicing the
            nations south transporting vehicles from coast to coast since 2011 as
            Yes Auto Transport, Inc., our sister car carrier company.
        </p>
        <p> @Html.ActionLink("Learn more >>", "About", "Home", null, new { @class = "nav-link" })</p>
    </div>
    <div class="col-md-6 ">
        <br />
        <div class="container">
            <div class="card">
                <div class="card-block">

                    <div class="row">
                        @{Html.RenderAction("HomeCreate", "Request");}
                    </div>

                </div>
            </div>

        </div>


    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
