@{
    ViewBag.Title = "Home Page";
   
}

<script type="text/javascript">
   
    
</script>
<br>
<div class="row">

    <div class="col-md-3">
        <h3>Why choose EasyShip Brokers, Inc.</h3>
        <P>Our team makes all of your shipping needs fast and easy. Customer satisfaction guaranteed!</P>
    </div>
    <div class="col-md-3">
        <h3>About us</h3>
        <p>
            EasyShip Brokers, Inc. is a family owned company. Our family has been servicing the nations south transporting vehicles from coast 
            to coast since 2011. Working formerly as car carriers, we decided to switch gears and work the brokers side of the business.
        </p>
        <p> @Html.ActionLink("Learn more >>", "About", "Home", null, new { @class = "nav-link" })</p>
    </div>
    <div class="col-md-6 ">
        <br />
        <div class="container">
            <div class="card">
                <div class="card-block">

                    <div class="row">
                        @{Html.RenderAction("HomeCreate", "Request");}
                    </div>

                </div>
            </div>

        </div>


    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
