@{
    ViewBag.Title = "Home Page";
}

<div class="row">

    <div class="col-md-3">
        <h3>Why choose BTFB</h3>
        <p>Lorem impusm dolor sit amet dela bid sela</p>
    </div>
    <div class="col-md-3">
        <h3>About us</h3>
        <p>
            BTFB, Inc. is a family owned company. Our family has been servicing the
            nations south transporting vehicles from coast to coast since 2011 as
            Yes Auto Transport, Inc., our sister car carrier company.
        </p>
        <p> @Html.ActionLink("Learn more >>", "About", "Home", null, new { @class = "nav-link" })</p>
    </div>
    <div class="col-md-6 ">
        <br />
        <div class="container">
            <div class="card">
                <div class="card-block">

                    <div class="row">
                        <div class="col-md-12">
                            @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "p-2", role = "Form" }))
    {
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    
                                    <input type="text" class="form-control" placeholder="First name">
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" placeholder="Last name">
                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control col-md-6" placeholder="Email">
                        </div>

                        <div class="form-group">

                            <input type="text" class="form-control col-md-6" placeholder="Phone">

                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <select class="form-control" placeholder="Make">
                                    <option>-Make-</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <select class="form-control" placeholder="Model">
                                    <option>-Model-</option>
                                    <option>XXXX</option>
                                    <option>XXXX</option>
                                </select>
                            </div>
                        </div>
                        <br />
                        <button type="submit" class="btn btn-primary">Request quote</button>
}
                        </div>
                        </div>

                    </div>
                </div>

            </div>


        </div>
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
